.home_wrapper {
    width: 100%;
    height: auto;
    background-color: white;
    background-image: url("https://img.freepik.com/free-vector/simple-blue-curve-background-vector-business_53876-171630.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .portfolio_content {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        color: rgb(15, 15, 105);
        padding: 65px 0px 30px 0px;

        h2 {
            font-size: 40px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }

        span{
            font-size: 60px;
            font-weight: 700;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul {
            display: flex;
            padding: 15px 0;
            margin: 20px 0;

            li {
                width: 45px;
                height: 45px;
                margin-right: 35px;
                border: 1px solid rgb(15, 15, 105);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: 1px solid rgb(15, 15, 105);

                &:hover {
                    background-color: rgb(15, 15, 105);

                }

                a {
                    font-size: 28px;
                    color: rgb(15, 15, 105);

                    &:hover {
                        color: white;
                    }
                }

            }
        }

        button {
            width: 170px;
            height: 55px;
            background-color: rgb(15, 15, 105);
            border-radius: 10px;

            a {
                text-decoration: none;
                color: white;
                font-weight: 700;

            }
        }

    }

    .portfolio_image {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }

}

.about_wrapper {
    width: 100%;
    height: auto;
    // background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-image: url("https://t3.ftcdn.net/jpg/03/50/02/12/360_F_350021263_w1KatF6CeZuT2XcM6iMAPsg63lOoQacC.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .about_image {
        display: flex;
        align-items: center;

        img {
            width: 450px;
            height: auto;

        }
    }

    .about_tittle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;


        p {
            font-weight: 700;
            font-size: 18px;
            color: rgb(15, 15, 105);

        }
    }
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(15, 15, 105);
    ;

    .footer_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;

        p {
            font-size: 10px;
            font-weight: 700;
            color: white;
        }
    }
}

.slider_wrapper {
    width: 100%;
    height: auto;
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v1016-a-02-ksh6oqdp.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=8bf67d33cc68e3f340e23db016c234dd");
    background-size: cover;
    background-repeat: no-repeat;

    .skills_header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        font-family: Arial, Helvetica, sans-serif;

        h2 {
            font-size: 35px;
            color: rgb(15, 15, 105);
            font-weight: 700;
        }
    }
}

@media screen and (min-width:320px) and (max-width:992px) {
    .home_wrapper {
        height: auto;

        .portfolio_content {
            row-gap: 10px;
            display: flex;
            ul{
                li{
                    border: 1px solid white;
                    outline: 1px solid white;
                    a{
                        color: white;
                    }
                }
            }

            h2 {
                font-size: 30px;
            }

            span {
                font-size: 40px;
            }
        }

        .portfolio_image {
            img {
                width: 100%;
            }
        }
    }

    .skills_wrapper {
        height: auto;
    }

    .about_wrapper {
        height: auto;

        .about_image {
            margin-bottom: 15px;
        }

        .about_tittle {
            p {
                font-size: 13px;
            }
        }
    }

    .slider_wrapper {
        width: 100%;
        height: 600px;
    }

}